.wrapper{
     height:1800px;
     width:1500x;
     
}
header{
    height:150px;
    width: 1515px;
    background-color:darkgray;
}
.navbar{
   text-decoration: none;
    list-style: none;
}
.navbar a{
    text-decoration: none;
}


.logo{ 
     float: left;
    color: white;
    padding-left: 34px;
   
}
.logo img {
	padding-top: 15px;
	padding-left: 41px;
}

li a {
   text-decoration: none;
    color: black;
    font-size: 25px;
    padding-right:15px;
   
    
}
li a:hover {
    color: gray;
    font-size: 25px;
    
}
/*nav{
  float: right; 
  padding-top:20px;
}
nav li {
   padding-top:20px;
   display:inline-block;
}*/
section{
    height:1350px;
    width: 1515px;
    background-color:darkgray;
    
}
.counter{
    font-size:35px;
    text-align: center;
    margin: 1% auto;
}
.parallax {
    height:500px;
    width: 1515px;
    background-image: url("img/Bookshelf.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.paracon {
	font-size: 50px;
	text-align: center;
	opacity: 0.8;
    padding-top: 35px;
}
.paracon:hover {
	font-size: 50px;
	text-align: center;
	opacity: 1.8;
    padding-top: 35px;
}
.slider{
    background-color: rgba(27,31,34,0.85);
    background-image: url("img/readmore.jpg");
    width:1515px;
    height: 650px;
    
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover;
    position: absolute;
    box-shadow: 1px 2px 10px black; 
    animation: slider 15s infinite linear; 
}
@keyframes slider{
    0%{background-image: url("img/quotes3.jpg");}
    25%{background-image: url("img/quotes2.jpg");}
    50%{background-image: url("img/quotes4.jpg");}
    75%{background-image: url("img/quotes.jpg");}
    100%{background-image: url("img/readmore.jpg");}
}
footer{
    height:350px;
    width: 1515px;
    background-color:darkgray;
}
.footercontain{
    padding-top:40px;
    text-align: center;
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*..................................user-login........................*/
.loging h1 {
	font-size: 43px;
    text-align: center;
    color: white;
}
.logbox input {
	height: 37px;
	width: 465px;
	margin-left: 505px;
	font-size: 20px;
	border-radius: 20px;
	text-align: center;
}
.logbox button {
	height: 40px;
	width: 330px;
	margin-left: 573px;
	font-size: 20px;
	border-radius: 38px;
	color: white;
	background-color: black;
}
.logbox button:hover {
	height: 45px;
	width: 340px;
	margin-left: 573px;
	font-size: 20px;
	border-radius: 38px;
	color: black;
	background-color: aquamarine;
}
.logbox{
	margin-top: 50px;
}
.logbox a {
	text-align: center;
	margin-left: 500px;
	
	text-decoration: none;
     color:red;
    font-size:45px;
}
.parallax1 {
    height:450px;
    width: 1515px;
    background-image: url("img/Bookwall.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
} 
.parallax2 {
    height:550px;
    width:1515px;
    background-image: url("img/bookkock.jpg");
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1px;
   
} 
.reging h1 {
	font-size: 43px;
    text-align: center;
    color: white;
}
.regbox input {
	height: 40px;
	width: 465px;
	margin-left: 514px;
	font-size: 20px;
	border-radius: 20px;
	text-align: center;
}
.regbox button {
	height: 40px;
	width: 330px;
	margin-left: 590px;
	font-size: 20px;
	border-radius: 38px;
	color: white;
	background-color: black;
}
.regbox button:hover {
	height: 45px;
	width: 340px;
	margin-left: 590px;
	font-size: 20px;
	border-radius: 38px;
	color: black;
	background-color: aquamarine;
}
.regbox{
	margin-top: 50px;
}
.regbox a {
	text-align: center;
	padding-left: 507px;
	font-size: 20px;
	text-decoration: none;
}
.parallax4 {
    height:450px;
    width: 1515px;
    background-image: url("img/content.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
} 
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@contatact@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.contact{
    background-color:black;
}
.contact header{
    background-color:black;
    
}
.contact section{
   background-color:black; 
}

.mavbar{
   text-decoration: none;
    list-style: none;
}
.mavbar a{
    text-decoration: none;
}


.logo{ 
     float: left;
    color: white;
    padding-left: 34px;
   
}
.logo img {
	padding-top: 15px;
	padding-left: 41px;
}

.mavbar li a {
   text-decoration: none;
    color: white;
    font-size: 25px;
    padding-right:15px;
   
    
}
.mavbar li a:hover {
    color: #E6FB04;
    font-size: 25px;
    
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@Feedback@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.parallax5 {
    height:100%;
    width: 1515px;
    background-image: url("img/b&W.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.feedback {
	height: 40px;
	width: 330px;
	
	font-size: 20px;
	border-radius: 38px;
	color: white;
	background-color: black;
}
.feedback:hover {
	height: 45px;
	width: 340px;
	
	font-size: 20px;
	border-radius: 38px;
	color: black;
	background-color: aquamarine;
}
/* @@@@@@@@@@@@@book@@@@@@*/
/* @@@@@@@@@@@@@book@@@@@@*/
/* @@@@@@@@@@@@@book@@@@@@*/
.parallax6 {
    height:800px;
    width: 1515px;
    background-image: url("img/bachgrd.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.search-btn {
	height:38px;
	width:100px;
	font-size: 20px;
	border-radius: 10px;
	color: white;
	background-color:lightskyblue;
}
.search-btn:hover {
	height:38px;
	width:100px;
	
	font-size: 20px;
	border-radius: 10px;
	color: lightskyblue;
	background-color: aquamarine;
}
.parallax7 {
    height:800px;
    width: 1515px;
    background-image: url("img/read (2).jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.updatebox input {
	height:45px;
	width: 405px;
	margin-left:400px;
	font-size: 20px;
	border-radius: 20px;
	text-align: center;
}
.updatebox button {
	height:40px;
	width: 330px;
	margin-left:30px;
	font-size: 20px;
	border-radius: 38px;
	color: white;
	background-color: black;
}
.updatebox button:hover {
	height: 45px;
	width: 340px;
	margin-left:3sss0px;
	font-size: 20px;
	border-radius: 38px;
	color: black;
	background-color: aquamarine;
}
.updatebox{
	margin-top: 50px;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.expired {
	padding-top: 50px;
	float: left;
	padding-left: 40px;
        padding-bottom: 15px;
}

.expired-btn{
	height:38px;
	width:100px;
	font-size: 20px;
	border-radius: 10px;
	color: white;
	background-color:red;
}
.expired-btn:hover{
	height:38px;
	width:100px;
	
	font-size: 20px;
	border-radius: 10px;
	color: black;
	background-color: aquamarine;
}
.rtn-btn{
	height:38px;
	width:100px;
	font-size: 20px;
	border-radius: 10px;
	color: white;
	background-color:green;
}
.rtn-btn:hover{
	height:38px;
	width:100px;
	
	font-size: 20px;
	border-radius: 10px;
	color: black;
	background-color: gray;
}
.send-btn {
	height:38px;
	width:100px;
	font-size: 20px;
	border-radius: 10px;
	color: white;
	margin-top:5px;
	background-color:lightskyblue;
}
.send-btn:hover {
	height:38px;
	width:100px;
	
	font-size: 20px;
	border-radius: 10px;
	color: lightskyblue;
	background-color: aquamarine;
}
